<div class="container p-5">
  <div class="row g-5">
    <div
      class="col-md-3 position-relative"
      *ngFor="
        let item of prducts
          | paginate
            : {
                id: 'foo',
                itemsPerPage: pageSize,
                currentPage: currentPage,
                totalItems: totalProducts
              }
      "
    >
      <div class="product p-2">
        <div class="cursor-pointer" [routerLink]="['/details', item._id]">
          <img [src]="item.imageCover" alt="item" class="w-100" />
          <h3 class="h6 text-center mt-2">{{ item.category.name }}</h3>
          <h2 class="h6 text-center mt-2">{{ item.title | cuttext : 3 }}</h2>
          <div class="d-flex justify-content-between">
            <p>{{ item.price }}<span>EGP</span></p>
            <div class="rating">
              <i class="fa-solid fa-star rating-color"></i>
              <span>{{ item.ratingsAverage }}</span>
            </div>
          </div>
        </div>
        <button class="w-100 main-btn">Add Product</button>
      </div>
    </div>
  </div>
  <pagination-controls
    id="foo"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="true"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
  >
  </pagination-controls>
</div>
