<div class="container p-5">
  <div class="row">
    <h2 class=" text-main">All Orders</h2>
    <div class="col-md-12" *ngFor="let item of allorders">
      <div class="product p-4 my-3 d-flex justify-content-between">
        <div>
          <p><span class="fw-bold">Name:</span>{{item['user']['name']}}</p>
          <p><span class="fw-bold">Name:</span>{{item['user']['phone']}}</p>
          <div>
            <h5>Adress Details:</h5>
            <p>Details:{{item['shippingAddress']['details']}}</p>
            <p>City:{{item['shippingAddress']['city']}}</p>
            <p>Phone:{{item['shippingAddress']['phone']}}</p>
          </div>
        </div>
        <div>
          <h2 class="text-main">TotalPrice:{{item['totalOrderPrice']}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>