<footer class="bg-main p-5">
  <div class="container">
    <h2>Get The FreshCart App</h2>
    <P class="text-muted">we will send you a link,open it on your phone to download the app</P>
    <div class="row">
      <div class="col-md-10">
        <div>
          <input type="email" placeholder="Email" class="form-control">
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <button class="main-btn px-4">Share Your App</button>
        </div>
      </div>
    </div>
    <div class="twoBorders mt-2">
      <div class="d-flex justify-content-between">
        <p class="text-muted">payment Partner</p>
        <P class="text-muted">Get Delivers With FreshCart</P>
      </div>
    </div>
  </div>
</footer>
