<div class="w-75 mx-auto my-5">
  <form [formGroup]="verfiyForm" (ngSubmit)="verifyCodeMethod()">
    <div class="mt-4">
      <label for="verifyCode" class="fw-bold ">verifyCode:</label>
      <input id="verifyCode" type="text" class="form-control " formControlName="resetCode"
        placeholder="Enter Your verifyCode">
      <div class="alert msgAlert" *ngIf="verfiyForm.get('verifyCode')?.errors && verfiyForm.get('verifyCode')?.touched">
        <P *ngIf="verfiyForm.get('verifyCode')?.getError('required')">verifyCode Is Requrired</P>
      </div>
    </div>
    <button class="main-btn d-block ms-auto my-4" [disabled]="verfiyForm.invalid">
      Send Code<i class=" fas fa-spin fa-spinner" *ngIf="isLoading"></i></button>
    <p class="alert alert-danger w-75 mx-auto p-1 mb-1" *ngIf="errMsg">{{errMsg}}</p>
  </form>
</div>
