<div class="container p-5">
  <div class="row g-5 ">
    <h2 class=" text-main">All Categories</h2>
    <div class="col-md-4  position-relative" *ngFor="let item of categories">
      <div class="product p-2 ">
        <div class="cursor-pointer " [routerLink]="['/categoriesDetails', item._id]">
          <img [src]="item.image" [alt]="item.name" class="w-100" style="height: 350px;">
          <h3 class="text-center text-main">{{item.name}}</h3>
        </div>
      </div>
    </div>

  </div>
</div>
