<div class="w-75 mx-auto my-5">
  <form [formGroup]="resetPassForm" (ngSubmit)="resetPasswordMethod()">
    <div class="mt-4">
      <label for="email" class="fw-bold ">Email:</label>
      <input id="email" type="text" class="form-control " formControlName="email">
      <div class="alert msgAlert" *ngIf="resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched">
        <P *ngIf="resetPassForm.get('email')?.getError('required')">Email Is Requrired</P>
        <P *ngIf="resetPassForm.get('email')?.getError('email')">Enter valid email</P>
      </div>
    </div>
    <div class="my-4 ">
      <label for="newPassword" class="fw-bold ">newPassword:</label>
      <input id="newPassword" type="newPassword" class="form-control " formControlName="newPassword">
      <div class="alert msgAlert"
        *ngIf="resetPassForm.get('newPassword')?.errors && resetPassForm.get('newPassword')?.touched">
        <P *ngIf="resetPassForm.get('newPassword')?.getError('required')">Password Is Requrired</P>
        <P *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">must be
          * Start with a letter (either uppercase or lowercase).
          * Be between 6 and 9 characters in total.
          * Can only contain letters (A-Z or a-z) and nuters (0-9)</P>
      </div>
    </div>
    <button class="main-btn d-block ms-auto my-4" [disabled]="resetPassForm.invalid">
      reset Password<i class=" fas fa-spin fa-spinner" *ngIf="isLoading"></i></button>
    <p class="alert alert-danger w-75 mx-auto p-1 mb-1" *ngIf="errMsg">{{errMsg}}</p>
  </form>
</div>
